:root {
  --font-family: Tahoma, sans-serif;
  --font-size: 11px;
  --border-color: #415680;
  --background-color: #344566;
  --color: #E6EBFB;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  border: none;
}

p table,
table table {
  border: none;
}

p td,
table table td {
  text-align: center;
  font-size: var(--font-size);
  font-family: var(--font-family);
}

body {
  color: var(--color);
  margin: 1px;
  background-color: #040e1e;
  background-image: url(img/background.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: top right;
  scrollbar-color: #E6EBFB #344566;
  font-size: var(--font-size);
  font-family: var(--font-family);
}

body.style {
  background-image: none;
}

th,
td.a,
td.b,
td.c,
td.f,
input,
select,
td.g,
td.h,
td.i,
td.j,
td.k,
td.l,
td.m,
td.n,
td.o,
td.q,
td.r,
td.v,
.style td,
textarea,
p td,
table.s th img {
  border: 1px var(--border-color) solid;
  font-size: var(--font-size);
  font-family: var(--font-family);
  background-color: var(--background-color);
  color: var(--color);
}

th {
  text-align: center;
  padding: 0 3px;
}

td.a {
  height: 39px;
  text-align: center;
}

td.b {
  padding: 3px;
}

td.c {
  font-weight: bold;
  color: var(--color);
  padding-left: 3px;
  background-image: url(img/bg1.gif);
}

td.f,
input,
select,
textarea {
  color: var(--color);
  background-color: var(--background-color);
}

textarea {
  width: 100%;
}

td.k input {
  text-align: left;
}

td.g {
  font-weight: bold;
  text-align: right;
}

td.h,
td.i,
td.j,
td.k,
.style td {
  text-align: center;
}

td.h,
td.i,
td.j,
td.k,
td.m,
td.o,
td.q,
td.r,
td.s,
td.v,
p td {
  color: var(--color);
}

td.l {
  background-color: var(--background-color);
  color: var(--color);
  vertical-align: top;
  padding: 3px;
  background-image: url(img/bg2.gif);
}

td.m,
td.n,
td.v {
  font-weight: bold;
  text-align: right;
  color: #f7f7f7;
}

td.n {
  text-align: center;
}

table.s th {
  border: none;
}

table.s th img {
  width: 89px;
  height: 89px;
}

div.z {
  font-weight: bold;
  color: var(--color);
}

a {
  color: var(--color);
  text-decoration: none;
}