#
# application
#
src/app/config/config.php

#
# public
#
src/public/compiles/*

#
# storage
#
src/storage/backups/*.sql
src/storage/cache/*.html
src/storage/logs/*.txt

#
# tests
#
src/tests/.phpunit.result.cache
src/tests/build/
src/tests/_reports/

#
# docs
#
.phpdoc/*
/docs/*

#
# docker
#
data/xgp.sql

#
# IDE
#
*.code-workspace
nbproject/

#
# composer
#
vendor
composer.lock
src/app/config/config.php
