<?xml version="1.0"?>
<configurations>
	<config>
		<name>moderation</name>
		<value>1,1,0,0,1,0;1,1,0,1,1,1;1;</value>
	</config>
	<config>
		<name>game_name</name>
		<value>XG Proyect</value>
	</config>
	<config>
		<name>game_logo</name>
		<value>http://www.xgproyect.net/images/misc/xg-logo.png</value>
	</config>
	<config>
		<name>lang</name>
		<value>spanish</value>
	</config>
	<config>
		<name>game_speed</name>
		<value>2500</value>
	</config>
	<config>
		<name>fleet_speed</name>
		<value>25000000</value>
	</config>
	<config>
		<name>resource_multiplier</name>
		<value>1</value>
	</config>
	<config>
		<name>admin_email</name>
		<value/>
	</config>
	<config>
		<name>forum_url</name>
		<value>http://www.xgproyect.net/</value>
	</config>
	<config>
		<name>game_enable</name>
		<value>1</value>
	</config>
	<config>
		<name>close_reason</name>
		<value>&amp;iexcl;En este momento el servidor se encuentra cerrado!</value>
	</config>
	<config>
		<name>ssl_enabled</name>
		<value>0</value>
	</config>
	<config>
		<name>date_time_zone</name>
		<value>America/Argentina/Buenos_Aires</value>
	</config>
	<config>
		<name>date_format</name>
		<value>d.m.Y</value>
	</config>
	<config>
		<name>date_format_extended</name>
		<value>d.m.Y H:i:s</value>
	</config>
	<config>
		<name>adm_attack</name>
		<value>0</value>
	</config>
	<config>
		<name>debug</name>
		<value>0</value>
	</config>
	<config>
		<name>fleet_cdr</name>
		<value>30</value>
	</config>
	<config>
		<name>defs_cdr</name>
		<value>30</value>
	</config>
	<config>
		<name>noobprotection</name>
		<value>0</value>
	</config>
	<config>
		<name>noobprotectiontime</name>
		<value>0</value>
	</config>
	<config>
		<name>noobprotectionmulti</name>
		<value>5</value>
	</config>
	<config>
		<name>modules</name>
		<value>1;1;1;1;1;1;1;1;1;1;1;1;1;1;1;1;1;1;1;1;1;1;0;1;1;</value>
	</config>
	<config>
		<name>initial_fields</name>
		<value>163</value>
	</config>
	<config>
		<name>metal_basic_income</name>
		<value>30</value>
	</config>
	<config>
		<name>crystal_basic_income</name>
		<value>15</value>
	</config>
	<config>
		<name>deuterium_basic_income</name>
		<value>0</value>
	</config>
	<config>
		<name>energy_basic_income</name>
		<value>0</value>
	</config>
	<config>
		<name>reg_enable</name>
		<value>1</value>
	</config>
	<config>
		<name>reg_welcome_message</name>
		<value>1</value>
	</config>
	<config>
		<name>reg_welcome_email</name>
		<value>1</value>
	</config>
	<config>
		<name>stat_settings</name>
		<value>1000</value>
	</config>
	<config>
		<name>stat_update_time</name>
		<value>1</value>
	</config>
	<config>
		<name>stat</name>
		<value>0</value>
	</config>
	<config>
		<name>stat_level</name>
		<value>2</value>
	</config>
	<config>
		<name>stat_last_update</name>
		<value>1388414726</value>
	</config>
	<config>
		<name>premium_url</name>
		<value>http://www.xgproyect.net/game.php?page=officier</value>
	</config>
	<config>
		<name>trader_darkmatter</name>
		<value>3500</value>
	</config>
	<config>
		<name>auto_backup</name>
		<value>0</value>
	</config>
	<config>
		<name>last_backup</name>
		<value>0</value>
	</config>
	<config>
		<name>last_cleanup</name>
		<value>1388410662</value>
	</config>
	<config>
		<name>game_installed</name>
		<value>1</value>
	</config>
	<config>
		<name>version</name>
		<value>3.0</value>
	</config>
	<config>
		<name>security_token</name>
		<value>XGProyect</value>
	</config>
	<config>
		<name>lastsettedgalaxypos</name>
		<value>1</value>
	</config>
	<config>
		<name>lastsettedsystempos</name>
		<value>7</value>
	</config>
	<config>
		<name>lastsettedplanetpos</name>
		<value>3</value>
	</config>
</configurations>
