/* --------------------------------------------------------------

   forms.css
   * Sets up some default styling for forms
   * Gives you classes to enhance your forms

   Usage:
   * For text fields, use class .title or .text
   * For inline forms, use .inline (even when using columns)

-------------------------------------------------------------- */

label       { font-weight: bold; }
fieldset    { padding:1.4em; margin: 0 0 1.5em 0; border: 1px solid #ccc; }
legend      { font-weight: bold; font-size:1.2em; }


/* Form fields
-------------------------------------------------------------- */

input[type=text], input[type=password],
input.text, input.title,
textarea, select {
	color:#30576F;
  	border:2px solid #8399AF
}
input[type=text]:focus, input[type=password]:focus,
input.text:focus, input.title:focus,
textarea:focus, select:focus {
	border-color:#9EB4CB;
  	color:#0D334C;
}

input.text,
input.title   { width: 300px; padding:5px; }
input.title   { font-size:1.5em; }
textarea      {
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:11px;
	height: 250px;
	padding:5px;
	width: 368px;
}

input[type=checkbox], input[type=radio],
input.checkbox, input.radio {
  position:relative; top:.25em; width:10px;
}

form.inline { line-height:3; }
form.inline p { margin-bottom:0; }

label {
	background:url("../../images/home/arrow.gif") no-repeat scroll 0 3px transparent;
	color:#619FC8;
	display:block;
	font-weight:normal;
	height:15px;
	line-height:15px;
	margin:3px 0;
	padding:0 0 0 11px;
}

select {
	background:#8d9aa7;
	border:1px solid #B3B4B1;
	color:#B3B4B1;
}

input {
	background:#8d9aa7 url(../../images/home/input-bg.gif) repeat-x;
	border:2px solid #9eb4cb;
	color:#0D334C;
	height:16px;
	padding:0 5px;
	width:184px;
}

input[type=submit]:focus {outline:none;}

.black-border {
	border:1px solid #000;
	margin:0 auto;
	width:198px;
	position: relative;
}


input#regSubmit {
    border: 0px;
    width:198px;
}

input#loginSubmit {
    border:0px;
    width:187px;
}

select#serverLogin,
select#server {
	background:#8d9aa7 url("../../images/input-bg.gif") repeat-x scroll 0 0;
	border:2px solid #9EB4CB;
	color:#30576F;
	cursor:pointer;
	width:198px;
}
select#serverLogin {width:188px;}

option#preferredServer {font-weight: bold; color: #007777}

#login form#loginForm p#TermsAndConditionsAcceptWithLogin {
    color:#619FC8;
    text-align: center;
    margin: 5px 0 0 5px;
}

#login form#loginForm p#TermsAndConditionsAcceptWithLogin a {
    color: white;
    background:none;
}

/* Success, notice and error boxes
-------------------------------------------------------------- */

.error,
.pilloryError,
.notice,
.success    { padding: .8em; margin-bottom: 1em; border: 2px solid #ddd; }

.error      { background: #FBE3E4; color: #8a1f11; border-color: #FBC2C4; }
.pilloryError      { background: #FFD3C4; color: #AA1414; border-color: #FF5454; }
.notice     { background: #FFF6BF; color: #514721; border-color: #FFD324; }
.success    { background: #E6EFC2; color: #264409; border-color: #C6D880; }
.error a    { color: #8a1f11; }
.notice a   { color: #514721; }
.success a  { color: #264409; }
