:root {
  --font-family: Tahoma, sans-serif;
  --font-size: 14px;
  --primary-color: #344566;
  --secondary-color: #E6EBFB;
  --darkmatter-color: #FF8900;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#header_top {
  display: block;
  overflow: hidden;
}

#content {
  display: flex;
  justify-content: center;
}

#leftmenu {
  display: flex;
  position: absolute;
  top: 0;
}

#menu {
  display: block;
  /* background-color: #344566; */
  color: #FFFFFF;
  padding: 10px;
  width: 110px;
  font-size: 11px;
}

#menu .player-name {
  width: 110px;
  text-align: center;
}

#menu table {
  width: 110px;
  border-spacing: 0;
  padding: 0;
  margin-top: 10px;
  border-collapse: collapse;
}

#menu table td {
  background-color: var(--primary-color);
  border-top: 0px solid var(--primary-color);
  font-family: var(--font-family);
  font-size: var(--font-size);
  font-weight: 700;
  padding: 1px;
  vertical-align: middle;
}

#menu-mobile,
#menu-toggle {
  display: none;
}

.resources-mobile,
.planet-menu-mobile {
  display: none;
}

@media screen and (max-width: 768px) {
  #menu {
    display: none;
  }

  #menu-mobile {
    display: block;
    position: fixed;
    height: 40px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url('../images/bg1.gif') no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    z-index: 99;
  }

  #mobile-menu {
    visibility: hidden;
  }

  .planet-menu-mobile {
    display: block;
    position: fixed;
    width: 80%;
    top: 20px;
    transform: translateY(-50%);
    right: 10px;
    left: 7px;
    /* text-align: center; */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    z-index: 999;
  }

  .planet-menu-mobile img {
    width: 32px;
    height: 32px;
    vertical-align: middle;
  }

  .planet-menu-mobile select {
    background: #232d44 !important;
    height: 32px;
    width: 70%;
    vertical-align: middle;
    font-size: 14px;
  }

  .planet-menu-mobile select:focus {
    outline: none;
  }

  .planet-menu-mobile select option {
    font-size: 12pt;
    border-radius: 0;
  }

  #menu-mobile ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s ease-out, visibility 0.2s ease-out;
    background-color: var(--primary-color);
    margin-top: 40px;
  }

  #menu-mobile ul.show {
    opacity: 1;
    visibility: visible;
    z-index: 9999;
  }

  #menu-mobile ul li {
    display: block;
    margin: 0;
    padding: 2px 3px;

  }

  #menu-mobile ul li {
    width: 50%;

  }

  #menu-mobile ul li.menu-title {
    width: 100%;
    background: url(../images/bg1.gif);
    text-align: center;
    font-size: var(--font-size);
    font-family: var(--font-family);
    font-weight: 700;
  }

  #menu-mobile ul li.menu-title a {
    border: 0;
  }

  #menu-mobile ul li:last-child {
    border-bottom: none;
  }

  #menu-mobile ul li a {
    text-align: center;
    display: block;
    color: var(--light-color);
    font-family: var(--font-family);
    font-size: var(--font-size);
    font-weight: 700;
    padding: 5px;
    text-decoration: none;
    transition: all 0.3s ease;
    box-sizing: border-box;
    width: 100%;
    border: 1px var(--border-color) solid;
  }

  #menu-mobile ul li a:hover {
    background-color: var(--dark-color);
  }

  #menu-toggle {
    width: 20%;
    display: inline-block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    /* igual al ancho de #menu-mobile */
    font-size: 24px;
    width: 35px;
    height: 35px;
    background: transparent;
    cursor: pointer;
    border: 1px var(--border-color) solid;

  }

  #menu-toggle:hover,
  #menu-toggle:focus {
    background-color: transparent;
  }

  #menu-toggle::before {
    color: #E6EBFB;
    content: "\2630";
  }

  #menu-toggle[aria-expanded="true"]::before {
    content: "\2715";
    z-index: 9999;
  }

  #menu-toggle[aria-expanded="true"]+#menu-mobile {
    display: block;
  }

  #header_top {
    display: none;
  }

  .resources-mobile {
    display: flex;
    width: 100%;
    overflow-x: auto;
    white-space: nowrap;
    margin-top: 50px;
  }

  .row {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;

  }

  .col {
    flex: 1 0 auto;
    /* margin: 0 5px; */
    text-align: center;
    box-sizing: border-box;
    padding: 10px;
  }

  .col img {
    display: block;
    margin: 0 auto;
    width: 42px;
    height: 32px;
  }

  .col span {
    font-weight: 700;
    font-style: italic;
    display: none;
    
    margin-top: 10px;
  }

  .col div {
    margin-top: 10px;
    font-size: 12px;
    font-weight: bold;
  }

  #content {
    position: relative;
    z-index: 1;
  }

  #content table {
    width: 100%;
  }

  #content table td,
  #content table th {
    height: 30px;
  }

  
}