.status_abbr_admin {
  color: #f48406;
}

.status_abbr_strong {
  color: #f00;
}

.status_abbr_noob {
  color: lime;
}

.status_abbr_outlaw {
  color: #f3f;
}

.status_abbr_vacation {
  color: aqua;
}

.status_abbr_banned {
  color: #fff;
  text-decoration: line-through;
}

.status_abbr_inactive {
  color: #6e6e6e;
}

.status_abbr_longinactive {
  color: #4f4f4f;
}

.status_abbr_honorableTarget {
  color: #ff6;
}

.listOfResourceSettingsPerPlanet th {
  /* text-align: right; */
  height: 25px;
  font-size: 11px;
}

tr.summary th {
  border-top: 1px dotted #848484;
}

select[name="building_metal_mine"] option[value="100"],
select[name="building_metal_mine"] option[value="90"],
select[name="building_metal_mine"] option[value="80"],
select[name="building_metal_mine"] option[value="70"],
select[name="building_crystal_mine"] option[value="100"],
select[name="building_crystal_mine"] option[value="90"],
select[name="building_crystal_mine"] option[value="80"],
select[name="building_crystal_mine"] option[value="70"],
select[name="building_deuterium_sintetizer"] option[value="100"],
select[name="building_deuterium_sintetizer"] option[value="90"],
select[name="building_deuterium_sintetizer"] option[value="80"],
select[name="building_deuterium_sintetizer"] option[value="70"],
select[name="building_solar_plant"] option[value="100"],
select[name="building_solar_plant"] option[value="90"],
select[name="building_solar_plant"] option[value="80"],
select[name="building_solar_plant"] option[value="70"],
select[name="building_fusion_reactor"] option[value="100"],
select[name="building_fusion_reactor"] option[value="90"],
select[name="building_fusion_reactor"] option[value="80"],
select[name="building_fusion_reactor"] option[value="70"],
select[name="ship_solar_satellite"] option[value="100"],
select[name="ship_solar_satellite"] option[value="90"],
select[name="ship_solar_satellite"] option[value="80"],
select[name="ship_solar_satellite"] option[value="70"] {
  color: #99cc00 !important;
}

select[name="building_metal_mine"] option[value="60"],
select[name="building_metal_mine"] option[value="50"],
select[name="building_metal_mine"] option[value="40"],
select[name="building_crystal_mine"] option[value="60"],
select[name="building_crystal_mine"] option[value="50"],
select[name="building_crystal_mine"] option[value="40"],
select[name="building_deuterium_sintetizer"] option[value="60"],
select[name="building_deuterium_sintetizer"] option[value="50"],
select[name="building_deuterium_sintetizer"] option[value="40"],
select[name="building_solar_plant"] option[value="60"],
select[name="building_solar_plant"] option[value="50"],
select[name="building_solar_plant"] option[value="40"],
select[name="building_fusion_reactor"] option[value="60"],
select[name="building_fusion_reactor"] option[value="50"],
select[name="building_fusion_reactor"] option[value="40"],
select[name="ship_solar_satellite"] option[value="60"],
select[name="ship_solar_satellite"] option[value="50"],
select[name="ship_solar_satellite"] option[value="40"] {
  color: #d29d00 !important;
}

select[name="building_metal_mine"] option[value="30"],
select[name="building_metal_mine"] option[value="20"],
select[name="building_metal_mine"] option[value="10"],
select[name="building_metal_mine"] option[value="0"],
select[name="building_crystal_mine"] option[value="30"],
select[name="building_crystal_mine"] option[value="20"],
select[name="building_crystal_mine"] option[value="10"],
select[name="building_crystal_mine"] option[value="0"],
select[name="building_deuterium_sintetizer"] option[value="30"],
select[name="building_deuterium_sintetizer"] option[value="20"],
select[name="building_deuterium_sintetizer"] option[value="10"],
select[name="building_deuterium_sintetizer"] option[value="0"],
select[name="building_solar_plant"] option[value="30"],
select[name="building_solar_plant"] option[value="20"],
select[name="building_solar_plant"] option[value="10"],
select[name="building_solar_plant"] option[value="0"],
select[name="building_fusion_reactor"] option[value="30"],
select[name="building_fusion_reactor"] option[value="20"],
select[name="building_fusion_reactor"] option[value="10"],
select[name="building_fusion_reactor"] option[value="0"],
select[name="ship_solar_satellite"] option[value="30"],
select[name="ship_solar_satellite"] option[value="20"],
select[name="ship_solar_satellite"] option[value="10"],
select[name="ship_solar_satellite"] option[value="0"] {
  color: #d43635 !important;
}

table .general_table {
  box-sizing: border-box;
  width: 100%;
  border: 1px solid #415680;
  margin: 10px 0 0;
  border-collapse: separate;
  border-spacing: 0;
}

table .general_table th {
  height: 24px;
}

table .general_table thead tr {
  background: #344566 !important;
}

table .general_table thead tr th {
  background-color: transparent;
  color: #f1f1f1;
}

table .general_table thead th {
  border-bottom: 1px dotted #848484;
  font-weight: bold;
}

table .general_table tbody tr th {
  background-color: transparent;
  font-weight: 400;
  border: 0;
}

table .general_table tbody tr:nth-of-type(even) {
  background-color: #415680;
}

table .general_table tbody tr.current {
  background-color: #2c4f20 !important;
}

table .general_table th {
  color: #9c0;
}

table .general_table.technical thead th {
  font-weight: bold;
}
table .general_table.technical th{
  color: #fff;
}

.rapid_fire {
  margin: 10px 0 0;
  padding-left: 15px;
  list-style-type: square;
}
